.App-course-item{
  width: 30vh;
  height: 50vh;
  margin: 20px; 
  display: flex;
  background-color: black;
  color: aliceblue;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}

.App-course-item :nth-last-child(1){
  color: red;
}